<div class="row">
  <div class="col-md-6 p-20 comment">
    <h3 class="box-title">Comments</h3>
    <% @comments.each do |comment| %>
    <div class="media">
      <div class="media-body"><p> <%= simple_format comment.content %> </p> </div>
    </div>
    <% end %>
  </div>
</div>