<div class="row">
  <div class="col-sm-6">
    <div class="white-box">
      <%= form_for [@commentable, @comment],html: { class: "form" }, remote: true do |f| %>
        <% if @comment.errors.any? %>
          <div class="error_messages">
            <h2>Please correct the following errors.</h2>
            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <label>Comment:</label>
          <%= f.text_area :content, rows: 8, class: 'form-control', style: "color:white" %>
        </div>
        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit Comment</button>
      <% end %>
    </div>
  </div>
</div>